.container-dash {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../../assets/img3.png);
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.container-card {
    display: flex;
    justify-content: space-around;
    min-width: 100vh;
}

.container-card .red {
    background-color: #972b2b;
}

.container-card .blue {
    background-color: #242452;
}

.container-card .green {
    background-color: #3b7022;
}

.container-card .orange{
    background-color: #7c4f2b;
}


.container-card .card {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 254px;
    border-radius: 10px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 400ms;
}

.container-card .card h3.tip {
    font-size: 1em;
    font-weight: 700;
}

.container-card .card p.second-text {
    font-size: .7em;
}


.container-card .card:hover {
    transform: scale(1.1, 1.1);
}

 .container-card:hover > .card:not(:hover){
    filter: blur(2px);
    transform: scale(0.9,0.9);
}

/* .card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(60, 60, 60);
    color: #ffff;
    text-align: center;
} */