/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../../assets/img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */



/* .card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
    color: #ffff;
    text-align: center;
} */

/* .container {
    display: flex;
    min-width: 1000px;
} */